name: CI

on: pull_request

jobs:
  prepare-cache:
    name: Prepare node_modules cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
      - uses: actions/cache@v4
        id: node_modules_cache
        with:
          path: "node_modules"
          key: node_modules-${{ hashFiles('package-lock.json') }}
      - name: Install
        if: ${{ steps.node_modules_cache.outputs.cache-hit != 'true' }}
        run: npm ci

  run-lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: prepare-cache
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
      - uses: actions/cache@v4
        with:
          path: "node_modules"
          key: node_modules-${{ hashFiles('package-lock.json') }}
      - name: Run Lint
        run: npm run lint

  run-tsc:
    name: TypeScript
    runs-on: ubuntu-latest
    needs: prepare-cache
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
      - uses: actions/cache@v4
        with:
          path: "node_modules"
          key: node_modules-${{ hashFiles('package-lock.json') }}
      - name: Run tsc
        run: npm run ts

  run-integration-test:
    name: Integration Test
    runs-on: ubuntu-latest
    needs: prepare-cache
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
      - uses: actions/cache@v4
        with:
          path: "node_modules"
          key: node_modules-${{ hashFiles('package-lock.json') }}
      - name: Run integration test
        run: npm run test:integration

  run-unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    needs: prepare-cache
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
      - uses: actions/cache@v4
        with:
          path: "node_modules"
          key: node_modules-${{ hashFiles('package-lock.json') }}
      - name: Run unit test
        run: npm run test:unit
