name: Deploy docs

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "README.md"

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: docs
      url: https://bhbs.github.io/viject/
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install
        run: npm ci
      - name: Build
        run: npm run docs:build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/.vitepress/dist
