name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  PROJECT: projects/kitchensink/
  REACT_APP_SHELL_ENV_MESSAGE: REACT_APP_SHELL_ENV_MESSAGE
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
      - uses: actions/cache@v4
        with:
          path: "node_modules"
          key: node_modules-${{ hashFiles('package-lock.json') }}
      - uses: actions/cache@v4
        with:
          path: ${{ env.PROJECT }}${{ 'node_modules' }}
          key: ${{ env.PROJECT }}node_modules-${{ hashFiles('package-lock.json') }}

      - run: npm install
      - run: npm run build
      - run: npx playwright install --with-deps
      - run: node ../../bin/viject.js
        working-directory: ${{ env.PROJECT }}
      - run: npm install
        working-directory: ${{ env.PROJECT }}

      - run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
